# --- Datasets ---
dataset/

# --- Python / Environment ---
.venv/
__pycache__/
*.py[cod]
*$py.class

# --- Environment Variables ---
.env

# --- YOLO / Training Outputs ---
runs/
local_bee_models/
*.pt

# --- OS Specific ---
.DS_Store
Thumbs.db

# Jetbrains
.idea/